@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-blue: #3b82f6;
    --main-dark: #263238;
    --main-white: #ffffff;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    color: var(--main-dark);
    text-align: "center";
    font-family: "Inter";
}

h2 {
    font-size: 36px;
    font-weight: 600;
    color: var(--main-dark);
    text-align: "center";
    font-family: "Inter";

}

h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--main-dark);
    text-align: "center";
    font-family: "Inter";

}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--main-dark);
    text-align: "center";
    font-family: "Inter";

}

.button-default {
    background-color: var(--main-blue);
    color: var(--main-white);
    border: none;
    border-radius: 4px;
    padding: 20px 24px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter";

}

.button-default:hover {
    background-color: #1f52c1;
    color: var(--main-white);
    border: 1px solid #1f52c1;
}

.inter-font {
    font-family: "Inter";
}


.file-upload-btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.file-upload-btn:hover {
  background-color: #0056b3;
}

/* Hide the default file input */
.file-upload-btn input[type="file"] {
  display: none;
}
