@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --main-blue: #3b82f6;
    --main-dark: #263238;
    --main-white: #ffffff;
}


h1 {
    font-size: 64px;
    font-weight: 700;
    color: var(--main-dark);
    text-align: "center";
}

h2 {
    font-size: 36px;
    font-weight: 600;
    color: var(--main-dark);
    text-align: "center";
}

h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--main-dark);
    text-align: "center";
}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--main-dark);
    text-align: "center";

}

.button-default {
    background-color: var(--main-blue);
    color: var(--main-white);
    border: none;
    border-radius: 4px;
    padding: 18px 24px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-default:hover {
    background-color: #1f52c1;
    color: var(--main-white);
    border: 1px solid #1f52c1;
}

